.book-bbcode-error
{
    color: #FF0000;
}

div.book-display
{
    width: 99%;
    overflow: hidden;
    background-color: #444444;
    border: 1px solid grey;
    height: 540px;
}

div.book-display div.imagebox,
div.book-display div.infobox
{ width: 50%; height: 100%; }

div.book-display div.imagebox { float: left; }
div.book-display div.infobox { float: left; height: 100%; overflow: auto; }

div.book-display div.imagebox div.bookcover-container { padding: 20px; margin: 0px auto; }
div.book-display div.imagebox div.bookcover-container div.bookcover { background-color: grey; width: 336px; height: 500px; background-repeat: no-repeat; background-position: center; }

div.book-display div.infobox p:first-child { padding: 20px 20px 0px 20px; }
div.book-display div.infobox p:last-child { padding: 0px 20px 20px 20px; }
div.book-display div.infobox p { padding: 0px 20px 0px 20px; }
div.book-display div.infobox span.section { font-weight: bold; }

span.tooltip
{
    position: relative;
    border-bottom: 1px dotted #000000;
    outline: none;
    cursor: help;
    text-decoration: none;
}

span.tooltip:hover:after
{
    content: attr(tooltip);

    background: #FFFFAA;
    border: 1px solid #FFAD33;
    
    position: absolute;
    padding: 5px;
    top: 30px;
    left: 60%;
    
    white-space: pre;

    font-family: sans-serif;
    font-weight: bold;
    color: black;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

span.tooltip.warning:hover:after
{
    background: #FFCCAA;
    border: 1px solid #FF3334;
}